@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@using RatingDemo.WebApp.Businesses
@using RatingDemo.WebApp.Domains
@using RatingDemo.WebApp.Models
@model LoginRequest

@{ 
    var serviceType = HttpContextAccessor.HttpContext.Session.GetServiceType();
}

<div id="modal-placeholder">
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <form asp-controller="User" asp-action="ChangeService" method="post" autocomplete="off" class="modal-content">
                <input name="IsValid" type="hidden" value="@ViewData.ModelState.IsValid.ToString()" />
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Vui lòng nhập passcode</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="modal-body">
                        <div class="form-group">
                            <input type="password"
                                   class="form-control"
                                   asp-for="Passcode"
                                   autocomplete="off" placeholder="Passcode" />
                            <span asp-validation-for="Passcode" class="text-danger"></span>
                        </div>

                        <h4>Chọn dịch vụ cần đổi</h4>
                        <input type="text" asp-for="Service" hidden="hidden" value="@serviceType" />

                        <div class="row mt-3 pl-0 pr-0 m-0 text-center mw-100">
                            <div class="col-4 rounded-lg border border-danger change-service @(serviceType == ServiceType.Clean ? "bg-secondary text-danger" : "")" data-selector="1">
                                <img src="~/images/login/bucket.png"
                                     alt="Logo"
                                     class="mt-4 mb-3 mx-auto d-block w-25 img-fluid" />
                                <span class="mb-3">Vệ sinh</span>
                            </div>
                            <div class="col-4 rounded-lg border border-danger change-service @(serviceType == ServiceType.Security ? "bg-secondary text-danger" : "")" data-selector="2">
                                <img src="~/images/login/policeman.png"
                                     alt="Logo"
                                     class="mt-4 mb-3 mx-auto d-block w-25 img-fluid" />
                                <span class="mb-3">Bảo vệ</span>
                            </div>
                            <div class="col-4 rounded-lg border border-danger change-service @(serviceType == ServiceType.CareOfStudent ? "bg-secondary text-danger" : "")" data-selector="3">
                                <img src="~/images/login/social-care.png"
                                     alt="Logo"
                                     class="mt-4 mb-3 mx-auto d-block w-25 img-fluid" />
                                <span class="mb-3">Chăm sóc học viên</span>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer justify-content-center">
                        <button type="submit" id="ChangeServiceSubmit" class="btn btn-danger border-radius text-sm-center">Đổi Dịch Vụ</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="d-none">
        <script src="~/js/popper.min.js"></script>
        <script src="~/jquery/3.5.0/jquery.min.js"></script>
        <script src="~/bootstrap/4.4.1/dist/js/bootstrap.min.js"></script>
        <script src="~/js/changeservice.js"></script>
    </div>
</div>